<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="LogFile" fileName="SitemapGenerator-Testing.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console" />
            <AppenderRef ref="LogFile"/>
        </Root>
        <Logger name="org.carter.sitemapgenerator.controller" level="debug" additivity="false">
        	<AppenderRef ref="Console" />
            <AppenderRef ref="LogFile"/>
        </Logger>
        <Logger name="org.carter.sitemapgenerator.controller.TestSiteCrawler" level="trace" additivity="false">
        	<AppenderRef ref="Console" />
            <AppenderRef ref="LogFile"/>
        </Logger>
    </Loggers>
</Configuration>